API Documentary Source: https://wiki.opencellid.org/wiki/API

The link above provides a description of the columns that can be found in the API response data

MCC Country Codes can be found in the following website: https://en.wikipedia.org/wiki/Mobile_country_code

The first digit of the mobile country code identifies the geographic region as follows (the digits 1 and 8 are not used):
- 0: Test networks
- 2: Europe
- 3: North America and the Caribbean
- 4: Asia and the Middle East
- 5: Australia and Oceania
- 6: Africa
- 7: South and Central America
- 9: Worldwide (Satellite, Air—aboard aircraft, Maritime—aboard ships, Antarctica)

In [1]:
import pandas as pd
from keplergl import KeplerGl
import numpy as np
import json

Read the data and config

In [2]:
data = pd.read_csv('../Datasets/cell_towers.csv')

In [3]:
with open('config.json', 'r') as f:
  config = json.load(f)

Drop Irrelevant Columns

In [4]:
del data['unit']
del data['changeable']
del data['created']
del data['updated']
del data['averageSignal']
del data['net']
del data['samples']

Analysis of a single location

In [5]:
areaList = set(list(data.area))
mccList = set(list(data.mcc))

continents = {
    "Test networks": 0,
    "Europe": 2,
    "North America and the Caribbean": 3,
    "Asia and the Middle East": 4,
    "Australia and Oceania": 5,
    "Africa": 6,
    "South and Central America": 7,
    "Worldwide (Satellite, Air—aboard aircraft, Maritime—aboard ships, Antarctica)": 9
}

South-East-Asia

In [15]:
# data['mcc'] = data['mcc'].astype(str)
# subset = data[data['mcc'].str.match(f"^{continents['Asia and the Middle East']}")]
subset = data[data.mcc.isin([460])].reset_index(drop=True)
# lte = subset[subset.radio == 'lte'].reset_index(drop = True)
# umts = subset[subset.radio == 'UMTS'].reset_index(drop = True)
# gsm = subset[subset.radio == 'GSM'].reset_index(drop = True)

# ,457,502,515,520,452

In [16]:
subset

       radio  mcc   area       cell         lon        lat  range
0        GSM  460  20687      59282  121.028058  31.333056   1000
1        GSM  460  21124      56686  120.684471  31.351204   1000
2        GSM  460  22547      13677  120.126572  30.253601   1000
3        GSM  460  29828      40113  112.388077  26.410446   1000
4        GSM  460  28960      41574  114.827042  30.850296   1000
...      ...  ...    ...        ...         ...        ...    ...
974678   GSM  460   9025       1918  115.859545  23.967862   1000
974679   GSM  460   9071      38724  115.964227  24.016896   1000
974680   GSM  460   9071       4085  115.965408  24.016786   1000
974681   GSM  460   9071      38705  115.993442  24.024188   1000
974682   LTE  460  33284  195577244  103.623505  30.509882   1000

[974683 rows x 7 columns]

Create the visual on Kepler.gl

In [17]:
cell_tower_visual = KeplerGl(height=800, data={"LTE Cell Towers": subset}, config=config)
cell_tower_visual.add_data(data=subset, name='UMTS Cell Towers')
cell_tower_visual.add_data(data=subset, name='GSM Cell Towers')
cell_tower_visual

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': '4e3poy', 'type': '…

In [18]:
cell_tower_visual.save_to_html(file_name='Cell Towers - China.html')

Map saved to Cell Towers - China.html!